*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}
/*Navbar*/
header {
    background-color: rgb(15, 78, 34);
    width: 100%;
    position: sticky;
    top:0;
    z-index:30;
    padding: 5px 0;
}

li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar{
   min-height:70px;
   display:flex;
   justify-content:space-around;
   align-items:center;
   padding:0 24px;
}
.navbar img{
    width: 280px;
}
.nav-menu{
   display:flex;
   justify-content:center;
   align-items:center;
   gap:60px;
}
 .nav-link{
    font-weight: bold;
    text-transform: uppercase;
   font-family: 'Times New Roman', Times, serif;
   transition:0.7s ease;
 }
.nav-link:hover{
    font-size: 20px;
   border-bottom: 3px solid white;
}
.hamburger{
    display:none;
    cursor:pointer;
 }
 .bar{
    display:block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

/*baner de pago*/
.banner-pago{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(18, 92, 40);
}
.banner-pago img{
   width: 55%;
}

/*Productos*/


/*media queri para menu lateral*/
@media(max-width:890px){
    .hamburger{
       display:block;
       text-align: left;
}
    .hamburger.active .bar:nth-child(2){
       opacity:0;
   }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px)rotate(45deg);
   }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px)rotate(-45deg);
}
.nav-menu{
    position:fixed;
    Left:-100%;
    top:5px;
    gap:0;
    flex-direction:column;
    background-color: rgb(15, 78, 34);;
    width:100%;
    text-align:center;
    transition:0.3s;
    z-index: 11;
}

.nav-item{
    margin:16px;
}
.nav-menu.active{
   Left:0;
}
.navbar{
    justify-content: center;
}
.navbar img{
    display: none;
}
}