:root{
	--white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66)	
	--prueba: (180deg,#21c8f6,#637bff);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}
/*Navbar*/
header {
    background-color: rgb(15, 78, 34);
    width: 100%;
    position: sticky;
    top:0;
    z-index:30;
    padding: 5px 0;
}

li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar{
   min-height:70px;
   display:flex;
   justify-content:space-around;
   align-items:center;
   padding:0 24px;
}
.navbar img{
    width: 280px;
}
.nav-menu{
   display:flex;
   justify-content:center;
   align-items:center;
   gap:60px;
}
 .nav-link{
    font-weight: bold;
    text-transform: uppercase;
   font-family: 'Times New Roman', Times, serif;
   transition:0.7s ease;
 }
.nav-link:hover{
    font-size: 20px;
   border-bottom: 3px solid white;
}
.hamburger{
    display:none;
    cursor:pointer;
 }
 .bar{
    display:block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

/*baner de pago*/
.banner-trans {
    background-color: rgb(18, 92, 40);
}

.banner-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    gap:15px;
    width: 70%;
    margin:0 auto;
  
}

.banner-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.banner-grid img:hover {
    transform: scale(1.1);
}

/*Productos*/
.index-post {
    width: 1124px; 
    transition: all 1.5s;
    min-height: 700px; 
    overflow: hidden; 
    margin: auto;
    display: block;
    margin-top: 25px;
    text-align: center;
    color: rgb(15, 78, 34);
}

.contener {
    float: left;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 320px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #00000073;
    transition: all 0.3s;
}

.contener:hover {
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(18 92 40 / 25%), 0 8px 20px rgb(18, 92 40 / 10%);
}

.image-contener {
    display: block;
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.image-contener img {
    width: 100%;
}

.meta-contener {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110px;
    padding: 10px 20px;
}

.meta-contener .title {
    padding: 0;
    margin: 10px 0;
    font-size: 22px;
    color: rgb(15, 78, 34);
    text-align: center;
    text-transform: uppercase;
}

.button-contener {
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 40px;
}

.button-contener .button {
    width: 100%;
    padding: 6px 0;
    text-decoration: none;
    background: linear-gradient(125deg, rgb(50, 242, 108) 0%, rgb(15, 78, 34) 60%);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.3s;

}

/*Ventana emergente*/
.modal {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	
	position: fixed;
	top: 0;
	left: 0;
	
	display: flex;
	
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}

.contenido {
	margin: auto;
	width: 40%;
	height: 40%;
    background-color: red;
    border-radius: 10px;
}
.contenido img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: rgb(18, 92, 40);
}

#cerrar {
	display: none;
}

#cerrar + label {
    text-align: center;
	position: fixed;
	color: #fff;
	font-size: 25px;
	z-index: 50;
	height: 40px;
	width: 40px;
	line-height: 40px;
    border: 2px solid white;
	border-radius: 50%;
	top: 5;
    right: 5px;
    text-transform: uppercase;
	cursor: pointer;
	
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
	display: none;
}

@keyframes modal {
	100% {
		visibility: visible;
		opacity: 1;
	}
}

/*media queri para productos*/

@media screen and (max-width:1124px){
    .index-post{
        width: 562px; height: 728px;
    }
}
@media screen and (max-width:562px){
    .index-post{
        width: 281px; height: 1496px;
    }
}




/*media queri para menu lateral*/
@media(max-width:890px){
    .hamburger{
       display:block;
       text-align: left;
}
    .hamburger.active .bar:nth-child(2){
       opacity:0;
   }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px)rotate(45deg);
   }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px)rotate(-45deg);
}
.nav-menu{
    position:fixed;
    Left:-100%;
    top:5px;
    gap:0;
    flex-direction:column;
    background-color: rgb(15, 78, 34);;
    width:100%;
    text-align:center;
    transition:0.3s;
    z-index: 11;
}

.nav-item{
    margin:16px;
}
.nav-menu.active{
   Left:0;
}
.navbar{
    justify-content: center;
}
.navbar img{
    display: none;
}
}
/*media queri para menu lateral*/
@media(max-width:890px){
    .contenido{
    margin: auto;
	width: 90%;
	height: 40%;
    background-color: white;
    border-radius: 10px;
    }
}